<!-- nav bar -->
<nav>
	<a href="/">Home</a>
	<a href="/menu">Full Menu</a>
	<!-- category links below-->
	<a href="/menu/mains">Mains</a>
	<a href="/menu/sides">Sides</a>
	<a href="/menu/desserts">Desserts</a>
  </nav>
